@import "vars";

.login-page {
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  
  h1 {
    font-size: 1.8em;
    font-weight: normal;
    margin-bottom: 16px;
  }

  input {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  button {
    width: 100%;
  }

  .error-message {
    background: rgb(250, 186, 186);
    padding: 10px;
    margin-bottom: 15px;
  }
}
