@import "vars";

html {
  overflow-y: scroll;
}

body,
html {
  font-size: $font-baseline-size;
  background: $body-background;
}

textarea,
input,
button,
select {
  outline: none;
}

label {
  display: block;
  margin-bottom: 6px;
  color: #444;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  display: inline-block;
  vertical-align: baseline;
  font-size: $font-baseline-size;
  padding: 11px 8px;
  border-radius: 4px;
  border: 1px solid #999;
  background: #fff;
}

.app {
  margin-top: 80px;
}
