.header-nav {
  ul {
    display: flex;

    li a {
      display: inline-block;
      padding: 23px 15px;
      vertical-align: middle;
      color: #aaa;
      text-decoration: none;
    }

    li a.header-nav-active {
      background: #000;
      color: #fff;
    }
  }
}
