.products {
  display: flex;
  width: 100%;
  height: calc(100% - 85px);
  overflow-y: scroll;
  flex-direction: column;

  .product-disabled {
    color: gray !important;
  }

  .product,
  .product-disabled {
    border: 0;
    background-color: transparent;
    font-size: 0.9em;
    width: 100%;
    text-align: left;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    color: #000;
    overflow-x: hidden !important;

    &:nth-child(odd) {
      background-color: #e9e9e9;
    }
  }

 

  .product-container {
    min-height: min-content; /* needs vendor prefixes */
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .active {
    font-weight: bold;
    padding-left: 20px;
    background-color: rgb(61, 61, 61) !important;
    color: white;
  }
}
