.product-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;

  .product-title {
    width: 80%;

    h1 {
      font-size: 1.7em;
      line-height: normal;
      font-weight: normal;
      margin-bottom: 0.3em;
    }

    h2 {
      font-weight: normal;
      color: #666;
    }
  }
  
  .product-image {
    width: 20%;
    text-align: right;

    img {
      width: 100%;
      height: auto;
    }

    overflow: hidden;
  }
}

.product-menu {
  ul {
    display: flex;
    border-bottom: 1px solid #ccc;

    li {
      display: block;

      a {
        display: block;
        text-decoration: none;
        padding: 10px 15px;
        background: #fff;
        margin-bottom: -1px;
        color: #000;
      }

      a.active {
        border-top: 1px solid #bbb;
        border-left: 1px solid #bbb;
        border-right: 1px solid #bbb;
        font-weight: bold;
      }
    }
  }
}

.product-section-container {
  padding: 15px;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbbb;
}
